@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
  position: relative;
}

#root {
  padding-top: 5% !important;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
}

section {
  margin-top: 10%;
}

.home-section {
  margin: 5% auto;
  width: 100% !important;
  height: auto !important;
}

.country-card {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0 4px 16px,
    rgba(17, 17, 26, 0.1) 0 8px 24px,
    rgba(17, 17, 26, 0.1) 0 16px 56px;
}

.country-card:hover {
  box-shadow:
    rgba(17, 17, 26, 0.13) 0 8px 18px,
    rgba(17, 17, 26, 0.13) 0 8px 24px,
    rgba(17, 17, 26, 0.13) 0 18px 56px;
}

.details-page {
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.card-details {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.details-card {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 12px 22px 0,
    rgba(0, 0, 0, 0.1) 0 2px 4px 0,
    rgba(255, 255, 255, 0.05) 0 0 0 1px inset !important;
  padding: 4% !important;
  margin: 15% 0 auto !important;
}

.details-btn a {
  float: right;
  display: flex;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 12px 28px 0,
    rgba(0, 0, 0, 0.1) 0 2px 4px 0,
    rgba(255, 255, 255, 0.05) 0 0 0 1px inset !important;
  border-radius: 50%;
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
}

.right-arrow {
  width: 30px;
  height: 30px;
  padding: 2%;
  text-align: right !important;
  font-weight: 100;
  right: 10px;
  bottom: 10px;
  margin-top: 10px;
  position: fixed;
}

.right-arrow:hover {
  transform: scale(1.1);
}

form {
  position: relative;
  margin: 0 auto;
  width: 30% !important;
}

.country-details {
  position: relative;
  min-height: 60% !important;
  line-height: 35px !important;
}

.page-not-found {
  padding: 10% auto !important;
}

footer {
  left: 0;
  bottom: 0;
  position: relative;
}


/* small divices */
@media screen and (width <= 768px) {
  section {
    margin: 15% !important;
    min-height: 100% !important;
    height: 100% !important;
  }

  .country-details {
    width: 90% !important;
    margin: 20% auto !important;
  }

  header {
    padding: 0 2%;
    margin-bottom: 10% !important;
  }

  form {
    position: relative;
    margin: 0 auto;
    width: 80% !important;
  }

  .home-section {
    margin: 5% auto;
    height: auto !important;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr)) !important;
  }

  #root {
    position: relative;
    margin-top: 14% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto !important;
  }

  .country-title {
    font-weight: bold;
    font-size: x-large;
  }
}

